@page "/Sitemap"
<PageHeader Page="@GlobalEnums.Link.Sitemap" />


<div class="h4 mb-3">
	<ul class="fa-ul">

		@foreach (var item in GlobalEnums.Link
		.List
		.OrderBy(o => o.Value)
		.Where(w => w.Value != GlobalEnums.Link.Sitemap.Value)
		)
		{
			<li>
				<span class="fa-li"><i class="@item.Icon"></i></span>
				<a href="@item.Index">@item.Title	</a>
			</li>
		}

	</ul>
</div>

