
<div @attributes="AdditionalAttributes" class="alert">
	<button @onclick="OnToggleClick"
					class="btn-primary btn-sm  @ButtonFloat">
		Detail <i class='fas fa-chevron-down'></i>
	</button>
	@ChildContent
</div>

