@inherits LayoutComponentBase
@using MhbWasmSQLite.Client.Components.BookChapterToolbar
@using MhbWasmSQLite.Client.Shared.NavBar

<div class="page">

	<header>
		<Menu UseDarkMode="true"></Menu>
	</header>

	<!-- Bible Search Toolbar BEG <div>	</div>-->
	<div class="top-row w-100">
		<Index />
	</div>
	<!-- Bible Search Toolbar End-->


	<div class="container">
		<div class="main">
			<div class="content px-1">
				@Body
			</div>
		</div>

		@*
		<BlazoredToasts />
		This causes an infinite loop when looking at the Redux tab
		<StateLoader />
		*@

	</div>

	<Footer />
	@*<FooterTemplate />*@

	<BlazoredToasts />
</div>