@inherits LayoutComponentBase
@using MhbWasmSQLite.Client.Components.BookChapterToolbar
@using MhbWasmSQLite.Client.Shared.NavBar

<div class="page">

	<header>
		<Menu UseDarkMode="true"></Menu>
	</header>

	<div class="container">
		<div class="main">
			<div class="top-row px-0">
				<Index />
				<BlazoredToasts />
			</div>

			<div class="content px-1">
				@Body
			</div>
		</div>

		@*
		<BlazoredToasts />
			This causes an infinite loop when looking at the Redux tab
			<StateLoader />
		*@

	</div>

	<footer class="text-muted w-100">
		<Footer />
	</footer>

</div>