@using MhbWasmSQLite.Client.Enums

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (State!.Value.ShowChapters)
{
	if (State.Value.BibleBook is not null)
	{
		<div class="btn-group btn-group-sm" role="group" aria-label="Basic outlined example">
			@for (int i = 1; i <= State!.Value!.BibleBook!.LastChapter; i++)
			{
				int iLocal = i;
				<button type="button" class="btn btn-outline-info"
					@onclick="@(e => Chapter_ButtonClick(@iLocal))">
					@i
				</button>
			}
		</div>
	}
}


