@using MhbWasmSQLite.Client.Enums

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@if (BibleSearchState.Value.BibleBook is not null)
{
	<ul class="list-inline">

		@for (int i = 1; i <= BibleSearchState.Value.BibleBook.LastChapter; i++)
		{
			<li class="list-inline-item">
				<a href='@AnchorBookChapterUrl(i)' title="@BookChapterTitle(i)" target="_blank">@i</a>
			</li>
		}
	</ul>
}

<p>ToDo: Show, when appropriate, BookChapterDisplay </p>