@using MhbWasmSQLite.Client.Enums

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

@foreach (var item in State?.Value.Scriptures!)
{

	@if (item.DescH != "NULL")
	{
		<h3 class="mt-2">@item.DescH</h3>
	}

	@if (item.DescD != "NULL")
	{
		<h5 class="text-end mt-3 mb-1 text-black-50 fst-italic">@item.DescD</h5>
	}

	@*<p class="fs-5 ">*@

	<p>
		<sup class="text-primary"><b>@item.Verse</b></sup> @((MarkupString)@item.KJV!)
	</p>
}



