@using static MhbWasmSQLite.Client.Shared.Header.LogSection.Account
@using MhbWasmSQLite.Client.Shared
@using MhbWasmSQLite.Client.Shared.Header.Enums
@using MhbWasmSQLite.Client.Enums
@using MhbWasmSQLite.Client.Shared.NavBar

@inherits Fluxor.Blazor.Web.Components.FluxorComponent

<div class="container-fluid bg-light">

	<div class="@MediaQuery.XsOrSm.DivClass">

		<div class="row pt-2 pb-1 d-print-none">
			<div class="col-12">
				<a href="" class="btn btn-xs btn-outline-info float-end text-black-50">
					<u>Login</u> <i class="fas fa-sign-in-alt"></i>
				</a>

				@*
				<AuthorizeView>
				<Authorized>
				<LogoutForm />
				<ProfileAnchor IsXsOrSm="true" />
				</Authorized>

				<NotAuthorized>
				<div class="col-12">
				<LoginAnchor />
				</div>
				</NotAuthorized>
				</AuthorizeView>
				*@
			</div>
		</div>

		<div class="row pt-2 pb-1 d-print-none">
			<div class="col-12">
				<BibleSearch />
			</div>
		</div>

	</div>

	<div class="@MediaQuery.MdOrLgOrXl.DivClass">

		<div class="row pt-2 pb-1 d-print-none">
			<div class="col-6">
				<BibleSearch />
			</div>
			<div class="col-6">

				<a href="" class="btn btn-xs btn-outline-info float-end text-black-50">
					<u>Login</u> <i class="fas fa-sign-in-alt"></i>
				</a>

				@*			<AuthorizeView>
				<Authorized>
				<LogoutForm />
				<ProfileAnchor IsXsOrSm="false" />
				</Authorized>

				<NotAuthorized>
				<div class="col-12">
				<LoginAnchor />
				</div>
				</NotAuthorized>
				</AuthorizeView>
				*@
			</div>
		</div>
	</div>

	<div class="row pt-2 pb-1 d-print-none">
		<div class="col-12">

			@if (State!.Value.BibleBook != null)
			{
				<ChapterButtons CurrentBibleBook="@State!.Value.BibleBook" />
			}
		</div>
	</div>

</div>

<div class="container-fluid">
	@if (State!.Value.ShowVerses)
	{
		<h4 class="mt-4 mb-1">Chapter: @State!.Value.Chapter</h4>
		<LoadingComponent IsLoading="State!.Value.Scriptures == null">
			<PrevNextButton />
			<BookChapterDisplay />
		</LoadingComponent>
	}
</div>

<div class="container-fluid bg-light">
	@if (State!.Value.ShowVerses)
	{
		<AlephBetFooter />
	}
</div>

<ToasterBibleSearch />