@*<div class="d-print-none">
	<img src=@Blobs.UrlRoot("footer.jpg") class="img-fluid" />
</div>
<div class="d-none d-print-block">
	<img src=@Blobs.UrlRoot("bannerline.png") class="img-fluid" />
</div>*@


<div class="pb-2 mt-4 mb-2 border-top">
<p class="text-center">
		@DateTime.Now.Year MyHebrewBible.com | &copy; AEAIJ. All rights reserved.
</p>
</div>