<div class="mt-3">
	<LearnMoreToggleTemplate>
		<ChildContent>
			<p>Being that I'm a geek, here are some technologies used to build .MH.B.</p>
			<ul>
				<li>Blazor</li>
				<li>SQLite</li>
				<li>
					More, see the
					<a href="https://github.com/JohnMarsing/MyHebrewBible"
						 class="btn btn-warning" title="My Hebrew Bible is OPEN SOURCE!" target="_blank">
						<i class="fab fa-github" aria-hidden="true"></i>
					</a> respository
				</li>
			</ul>
		</ChildContent>
	</LearnMoreToggleTemplate>
</div>