@using MhbWasmSQLite.Client.Enums

<div class="row">
	<div class="col-12">
		<p class="powelfont">Welcome to...</p>
	</div>
</div>

<div class="@MediaQuery.XsOrSm.DivClass">
	<div class="row">
		<div class="col-12">
			<h2 class="powelfont">My Hebrew Bible</h2>
		</div>
	</div>
</div>

<div class="@MediaQuery.MdOrLgOrXl.DivClass">

	<div class="row">
		<div class="col-12">
			<h1 class="powelfont">My Hebrew Bible</h1>
		</div>
	</div>

</div>

@code {

}
