@page "/"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@using MhbWasmSQLite.Client.Enums

<PageTitle>@Enums.LinkEnum.Home.Title</PageTitle>

@if (State!.Value.ShowVerses == false)
{
	<Header />

	<div class="@MediaQuery.XsOrSm.DivClass">
		<SidebarButtons IsXsOrSm="true" />
		@*<div class="d-print-none"><SocialMediaButtons /></div>*@
	</div>

	<div class="@MediaQuery.Md.DivClass">
		<div class="row">
			<div class="col-7">
				<Intro MediaQuery="MediaQuery.Md" />
			</div>

			<div class="col-5">
				<SidebarButtons IsXsOrSm="false" />
				@*<div class="d-print-none"><SocialMediaButtons /></div>*@
			</div>
		</div>
	</div>

	<div class="@MediaQuery.LgOrXl.DivClass">
		<div class="row">

			<div class="col-8">
				<Intro MediaQuery="MediaQuery.Lg" />
			</div>

			<div class="col-4">
				<SidebarButtons IsXsOrSm="false" />
				@*<div class="d-print-none"><SocialMediaButtons /></div>*@
			</div>
		</div>
	</div>

@*<FooterLearnMore />*@

}


