@using MhbWasmSQLite.Client.Enums

<div class="@MediaQuery.MdOrLgOrXl.DivClass">
	<div class="card border-warning mr-0">
		<div class="card-header">
			<h2 class="text-warning text-center"><b>Welcome</b></h2>
		</div>

		<div class="body p-2">
			<Welcome />
		</div>
	</div>

	<div class="card bg-light mt-3">
		<div class="body p-2">
			<SpecialThanksOSM />
		</div>
	</div>

</div>