<hr class="warning" />

<div class="row">

	<div class="col-3">

		<a href="https://twitter.com/MyHebrewBible"
			 class="btn btn-info" title="Follow us on Twitter" target="_blank"
			 data-show-count="false" data-size="large" data-show-screen-name="false">
			<i class="fab fa-twitter fa-fw fa-2x" aria-hidden="true"></i>
		</a>
	</div>

	<div class="col-3">

		@*
			<iframe src="https://rumble.com/embed/uabcd.vabcd/?rel=5" frameborder="0" allowfullscreen></iframe>
		*@

		<a href=""
			 class="btn btn-primary" title="Rumble" target="_blank">
			<i class="fas fa-recycle fa-fw fa-2x" aria-hidden="true"></i>
		</a>
	</div>

	<div class="col-3">

		@*@SocialMedia.YouTube.YouTubeNormal()*@

		<a href=""
			 class="btn btn-danger" title="Watch our videos on YouTube" target="_blank">
			<i class="fab fa-youtube fa-fw fa-2x" aria-hidden="true"></i>
		</a>
	</div>

	<div class="col-3">

		<a href="https://github.com/JohnMarsing/MyHebrewBible"
			 class="btn btn-warning" title="My Hebrew Bible is OPEN SOURCE!" target="_blank"
			 data-show-count="false" data-size="large" data-show-screen-name="false">
			<i class="fab fa-github fa-fw fa-2x" aria-hidden="true"></i>
		</a>
	</div>

</div>



@code {

}
