	Special thanks to the good people at <b>Open Scriptures Morphology</b>.
	I used their work, in part, to produce much of the Hebrew words for MHB.
<i class="fas fa-external-link-alt" aria-hidden="true">&nbsp;</i><i class="fa fa-github" aria-hidden="true"></i>

<a title="Open Scriptures MorphHB" target="_blank"
	 href="https://github.com/openscriptures/morphhb">
	@*<img src="@BlobContent.ImagesUrl("LexiconLogo.png")" alt="Open Scriptures MorphHB" class="img-responsive img-rounded" />*@
</a>
<br />While I did a <em>Bible Geek</em> deep dive on understanding this content, I saved my notes on
<a href="">this</a> page.  Check it out if your into that kind of thing <span class="fa fa-smile-o"></span>.
