@using MhbWasmSQLite.Client.Enums

<h3> <span class="label label-info">Introduction</span></h3>
<blockquote>
	Welcome to my on-line Bible I call <span class="mhb-site-title"><b>My Hebrew Bible</b> (MHB)</span>.
	<br /><br />The purpose of <span class="mhb-site-title">MHB</span> is to enable people to have a stronger relationship with their Creator by intently and methodically studying his image which is the scriptures.
	In addition, it is my intent is to make <span class="mhb-site-title">MHB</span> an excellent resource for serious students of scripture.
	<br /><br />The focus of <span class="mhb-site-title">MHB</span> beyond the underlying story of the Bible is to bring out the weightier matters of scripture which is the <b>law</b> (Hebrew <i>Torah</i>, Greek <i>Nomos</i>)
	and this is reflected in my commentary which can be found, for example, in my
	<a href="">articles</a> and
	<a href="">favorite verses</a> and
	<br /><br />The relationship we have with our Creator is by <b>covenant</b> or, if you will, a <b>sacred contract</b>.
	<br /><br />Knowing the contract instructs us what the law is and therefore how are relationship with <i>Elohim</i> (God) is defined.
	My paramount testimony is that focusing on this sacred contract gives the greatest insight that one could have in their studies of scriptures.
	I speak more on this at my other website called
	<a title="Torah Law Form" target="_blank"
		 href="https://torahlawform.com">
		Torah Law Form
	</a>
	&nbsp;<sup><i class="fa fa-external-link" aria-hidden="true"></i></sup>
	<small><cite title="Author: John Marsing">John Marsing</cite></small>
</blockquote>



@code {
	//<a asp-page="@Anchors.SegType.PageIndexFromRoot">this</a> page
}
