
<div class="hidden-print">
  <div class="visible-sm visible-md visible-lg">
    <partial name=@PartialViews.Filter model="Model" />
  </div>
  <div class="visible-xs">
    <partial name=@PartialViews.FilterXs model="Model" />
  </div>
</div>

<div class="hidden-print">
  <div class="visible-md visible-lg">
    <h3><span class="@Model.FontAwesomeIcon"></span>&nbsp;@Model.HebrewFilterDescription</h3>
  </div>
  <div class="visible-sm visible-xs">
    <h3><span class="@Model.FontAwesomeIcon"></span></h3>
  </div>
</div>

@code {

  /*
  @model MyHebrewBible.Web.Pages.Hebrew.HeaderVM
  @{
  ViewBag.Title = "Hebrew - " + Model.HebrewFilterDescription;
   }

  */

}
