@page "/Hebrew/QereKetiv"

@using MhbWasmSQLite.Client.Enums;
@using MhbWasmSQLite.Client.Features.Hebrew.Components;
@using Page = MhbWasmSQLite.Client.Features.Hebrew.MenuItemConstants.QereKetiv

<PageTitle>@Page.Title</PageTitle>

<SubNavBar ActiveMenuItem="@Enums.MenuItems.QereKetiv" />

<div class="d-print-none pb-2 mt-4 mb-2 border-bottom">
	<h1><i class="@Page.Icon"></i> @Page.Title</h1>
</div>

@code {

}
